name: deploy-book

on:
  release:
    types: [published]
  workflow_dispatch:

# This job installs dependencies, builds the book, and pushes it to `gh-pages`
jobs:
  deploy-book:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    # Install dependencies
    - name: Set up Python 3.9
      uses: actions/setup-python@v1
      with:
        python-version: 3.9

    - name: Install dependencies
      run: |
        pip install jupyter-book ou-jupyter-book-tools
        pip install sphinxcontrib-youtube git+https://github.com/innovationOUtside/ouseful-diff-utils.git
    # Build the book
    - name: Build the book
      run: |
        cd src
        jupyter-book build .
        touch ./_build/html/.nojekyll
    # Push the book's HTML to github-pages
    - name: GitHub Pages action
      uses: peaceiris/actions-gh-pages@v3.6.1
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./src/_build/html
